<!doctype html>
<html class="no-js" lang="en">

<head>
    <%- include ('components/head') %>
</head>

<body>
    <%- include('components/header') %>
    <%- include('components/slider') %>
    <%- include('components/scripts') %>
    <%- include('components/footer') %>
</body>